body {
    color:#3D3C3A;
     }
.container {
    margin:auto;
    width:80%;
}

h1 {
    color:gray;
}

/*Custom Google search engine settings*/

.gsc-input-box {
    width: 200px!important;
	border-color: #746534!important;
	height: 30px!important;
}

input.gsc-search-button-v2 {
    box-sizing: content-box;
}

/* Add a border between individual search results */
.gs-webResult {
    border: 1px solid #eee;
    padding: 1em;
}

/* Change the font size of the title of search results */
.gs-title a {
    font-size: 14px;
}

/* Change the font size of snippets inside search results */
.gs-snippet {
    font-size: 14px;
}

/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page {
    font-size: 1.5em;
    padding: 4px 8px;
    border: 2px solid #ccc;
}
